.coverframe{
    display: flex;
   width: 80%;
   padding: 36px 74px;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    margin: 0px auto 2.4rem auto;
    height: 38rem;
}