.logoContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.logoImage{
    width: 40px;
height: 40px;
flex-shrink: 0;
}

.logoText{
    color: #464B93;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 61px;
height: 10px;
flex-shrink: 0;
margin-left: -12px; 
margin-top:  3px;
}