nav {
  display: flex;
  width: auto;
  height: 72px;
  padding: 0px 112px;
  align-items: center;
  gap: 315px;
  flex-shrink: 0;
  background: #f1f1f1;
}

nav .listContainer {
  display: flex;
  padding-right: 0px;
  align-items: center;
  gap: 442px;
}

nav .listContainer .listItemsBox {
  display: flex;
  align-items: flex-start;
  gap: 68px;
}

.navitem {
  color: var(--fontColor);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
  text-decoration: none;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.activelink {
  color: #6b70bd;
  text-decoration-line: underline;
}

.registration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 750px) {
  nav {
    padding: 0 20px;
    gap: 70px;
  }
  nav .listContainer {
    gap: 22px;
  }

  nav .listContainer .listItemsBox {
    gap: 22px;
  }

  .navitem {
    color: var(--fontColor);
    font-family: Inter;
    font-size: 16px;
  }
}
