.footer{
    display: flex;
width: auto;
height: 574px;
padding: 0px 53px;
flex-direction: column;
align-items: flex-start;
flex-shrink: 0;
background: #D9D9D9;
}

.footerTextArea{
    margin: 5.5rem;
}